requests
requests-oauthlib
responses

pytest
pytest-cov
pytest-runner
mccabe
mock
six
coverage
coveralls
codecov
check-manifest
tox
tox-pyenv
pycodestyle

hypothesis
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
